<div class="flex flex-col md:flex-row">
    <div class="">
        <div class="card flex flex-col items-center text-center">
            <div class="font-semibold text-xl">{{ weatherData()?.name }}, {{weatherData()?.sys?.country}}</div>
            <img 
                [src]="'https://openweathermap.org/img/wn/' + weatherData()?.weather?.[0]?.icon + '@2x.png'" 
                [alt]="weatherData()?.weather?.[0]?.description"
                />
            <p>{{ weatherData()?.main?.temp }} {{unitSymbol}}</p>
            <p><strong>Humidity:</strong> {{ weatherData()?.main?.humidity }}%</p>
            <p><strong>Wind Speed:</strong> {{ weatherData()?.wind?.speed }} {{speedSymbol}}</p>
        </div>
    </div>
</div>