<div class="card box-border bg-white rounded-xl p-6 shadow-sm hover:shadow-md transition-shadow">
    <div class="font-semibold text-xl mb-4">Recent Cities</div>
    @if (cityStore(); as store){
        @if (store.length > 0){
            @for(city of store; track city; let i = $index){
                <app-city-card [cityVal] = "city"/>
                <p></p>
            }
        } @else {
            <p class="text-gray-500 italic">No recent cities</p>
        }
    } @else {
        <p class="text-gray-500 italic">No search history available</p>
    }
</div>